body {
  background-color: #5f5f5f;
}

.top {
  width: 100%;
}

.sourceEditor { 
  width: 60%;
  float: left;
} 

.sourceCode {
  padding: 10px;
  box-sizing: border-box;
  margin-top: -1px;
}

div {
    display: block;
}

#result {
  float: left;
  width: 40%;
  margin-top: -1px;
}

.device {
  background: url("../img/phone.png") no-repeat right top;
  margin: auto;
  margin-top: 5px;
  width: 409px;
  height: 836px;
  float: right;
}

.device .screen {
    position: relative;
    width: 100%;
    height: 100%;
}

.device .screen iframe {
    position: absolute;
    top: 104px;
    left: 29px;
    z-index: 0;
    width: 320px;
    height: 568px;
    top: 125px;
    left: 44px;
    border: 0;
    background-color: #efefef;
}